# build folders
Api/bin/
Api/obj/
Client/bin/
Client/obj/
Service/bin/
Service/obj/
publish

# user specific
*.user
*.suo
*.userprefs

# VSCode
.vscode/

# Rider
_Assets/Bruno
_Assets/osslsigncode
_Assets/Deploy-Application.ps1
_Assets/intuneMigrator.pfx
_Assets/qemu.csv

# OS
.DS_Store
Thumbs.db

# secrets
appsettings.Development.json
appsettings.Local.json
Settings.Development.xml
secrets/
private/

# logs
*.log
logs/

# certificates
*.pfx
*.pem
*.key

# database
*.db
*.sqlite